svg{
    background-color:#074c61;
    width: 600px;
    height:600px;
}
#title {
    background-color:purple;
    width: 1204px;
    height:150px;
}
#man{
    background-color: blue;
}
text{
    font-size: 50px;
    color: white;
}